.card {
  width: 262px;
  height: 315px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.card:hover {
  background-color: #348eca;
  color: white;
}
.card_selected {
  width: 262px;
  height: 315px;
  color: white;
  background-color: #348eca;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
